djangocrud/settings.py
# Archivos y carpetas generados por Python
__pycache__/
*.py[cod]

# Archivos de base de datos de Django (si usas SQLite)
db.sqlite3
*.sqlite3

# Archivos de migración de Django
*/migrations/*
!*/migrations/__init__.py  # Deja las carpetas de migración pero no los archivos generados

# Archivos de entorno virtual
venv/
.env/

# Archivos de configuración de IDEs
.vscode/
.idea/

# Archivos de sistema
.DS_Store  # Para MacOS
Thumbs.db  # Para Windows
